/* General */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background: url(/assets/images/wood.jpg);
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: whitesmoke;
}

h2, h3 {
    font-family: 'Poppins', sans-serif;
    color: #1a1a1a;
}

a {
    color: whitesmoke;
}

a:hover {
    color: yellow;
}

/* Header */
header {
    margin: 75px;
}

header h1 {
    font-size: 4em;
    font-weight: 100;
}

header a {
    text-decoration: none;
    color: whitesmoke;
}

header a:hover {
    color: yellow;
}


/* Gamespace */
#gamespace {
    height: 40vh;
    min-height: 350px;
    width: 50vw;
    margin: 40px auto 0 ;
}

.player-icons ,.computer-icons {
    font-size: 2em;
    color: yellow;
}

/* Player */
#player-side {
    height: 40vh;
    min-height: 350px;
    width: 25vw;
    float: left;
    background: rgba(55, 118, 187, 0.8);
}

.player-icons {
    display: none;
}


/* Computer */
#computer-side {
    height: 40vh;
    min-height: 350px;
    width: 25vw;
    float: right;
    background: rgba(207, 85, 85, 0.8);
}

.computer-icons {
    display: none;
}

/* Controls */
#button-box {
    font-size: 2.2em;
    width: 50vw;
    background: rgba(42, 42, 42, 0.8);
    margin: 0 auto 40px;
}

button {
    border: none;
    margin: 20px;
    padding: 10px;
    font-size: 1.2em;
    background: none;
    color: whitesmoke;
}

button :hover {
    color: yellow;
}


/* Footer + Social Media */
footer {
    font-size: 2em;
    margin-top: 200px;
}

footer a {
    margin: 20px;
    color: whitesmoke;
}

footer a:hover {
    color: yellow;
}

/* Responsiveness */
/* Tablet size */
@media only screen and (max-width: 1000px){

    body {
        font-size: 1em;
    }

    /* Tablet Gamespace */
    #gamespace {
        height: 40vh;
        width: 100%;
    }

    #player-side, #computer-side {
        height: 40vh;
        width: 50%;
    }

    /* Tablet Controls */
    #button-box {
        width: 100%;
    }
    
    /* Tablet Footer */
}

/* Mobile size */
@media only screen and (max-width: 600px){

    /* Mobile Gamespace*/

    /* Mobile Controls*/

    /* Mobile Footer*/

}

