/* General */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background: url(../images/wood.webp);
    background-color: #3a3a3a;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #F0EAD6;
}

h2, h3 {
    font-family: 'Poppins', sans-serif;
    color: #1a1a1a;
}

a {
    color: #F0EAD6;
}

a:hover, button:hover {
    color: #ffde34;
    cursor: pointer;
}

/* Header */
header {
    margin: 75px;
}

header h1 {
    font-size: 4em;
}

header a {
    text-decoration: none;
}

/* Gamespace */
#gamespace {
    height: 40vh;
    min-height: 350px;
    width: 50vw;
    margin: 40px auto 0 ;
}

.player-icons, .computer-icons {
    font-size: 2em;
    color: #ffde34;
    display: none;
}

/* Player */
#player-side {
    float: left;  
    background: rgba(55, 118, 187, 0.8);
}

/* Computer */
#computer-side {
    float: right;  
    background: rgba(207, 85, 85, 0.8);
}

.computer-icons {
    display: none;
}

.opponents {
    height: 40vh;
    min-height: 350px;
    width: 25vw
}

/* Controls */
#button-box {
    font-size: 2.2em;
    width: 50vw;
    background: rgba(42, 42, 42, 0.8);
    margin: 0 auto 40px;
}

button {
    border: none;
    margin: 20px;
    padding: 10px;
    font-size: 1.2em;
    background: none;
    color: #F0EAD6;
}

/* Hints and Rules */
#button-explain {
    color: #ffde34;
}

/* Footer + Social Media */
footer {
    font-size: 2em;
    margin-top: 200px;
}

footer a {
    margin: 20px;
}

/* Responsiveness */
/* Small Laptop size */
@media only screen and (max-width: 1500px){

    /* Small Laptop Gamespace */
    #gamespace {
        width: 80%;
    }

    .opponents {
        width: 50%;
    }

    /* Small Laptop Controls */
    #button-box {
        width: 80%;
    }
}

/* Tablet size */
@media only screen and (max-width: 1000px){

    /* Tablet General */
    body {
        font-size: 1em;
    }

    /* Tablet Header */
    header {
    margin: 20px;
    }

    /* Tablet Gamespace */
    #gamespace {
        height: 40vh;
        width: 90%;
    }

    .opponents {
        font-size: 1.5em;
        height: 40vh;
        width: 50%;
    }

    /* Tablet Controls */
    #button-box {
        font-size: 3em;
        width: 90%;
    }

    /* Rules Link */
    #wiki-link {
        font-size: 1.5em;
    }
    
    /* Tablet Footer */
    footer {
        font-size: 3em;
        margin-top: 200px;
    }
}

/* Mobile size */
@media only screen and (max-width: 600px){

    /* Mobile Header */
    header {
        margin: 0px;
    }

    header h1 {
        font-size: 2.5em;
    }

    /* Mobile Gamespace*/
    #gamespace {
        min-height: 250px;
        width: 100%;
    }

    .opponents {
        min-height: 250px;
        font-size: 1em;
        width: 50%;
    }

    /* Mobile Controls*/
    #button-box {
        width: 100%;
    }

    button {
        margin: 10px;
        padding: 5px;
        font-size: 1em;
    }

    /* Rules Link */
    #wiki-link {
        font-size: 1.2em;
    }
}