/* General */
body {
    background: #4a4a4a;
    color: white;
    text-align: center;
}

/* Header */
header {
    margin-bottom: 100px;
}

/* Game Divider */
#gamespace {
    height: 50vh;
    width: 50vw;
    margin: auto;
}

/* Player */
#player-side {
    height: 40vh;
    min-height: 250px;
    width: 25vw;
    float: left;
    background: #3776bb;
}

/* Computer */
#computer-side {
    height: 40vh;
    min-height: 250px;
    width: 25vw;
    float: right;
    background: #cf5555;
}

/* Controls */
#button-box {
    width: 50vw;
    background: #2a2a2a;
}

button {
    border: none;
    margin: 20px;
    padding: 10px;
    font-size: 2.2em;
    background: none;
    color: white;
}

button :hover {
    color: yellow;
}

/* Footer + Social Media */
footer {
    font-size: 2em;
    margin-top: 200px;
}

footer a {
    margin: 20px;
    color: orangered;
}

footer a:hover {
    color: orange;
}